{:paths ["notebooks"  ]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        scicloj/tablecloth {:mvn/version "7.029.2"}
        scicloj/sklearn-clj {:git/url "https://github.com/scicloj/sklearn-clj" :git/sha "ff384208748d2938dd1e5c6fc8d6fdf88f207425"}
        org.scicloj/kindly {:mvn/version "4-beta4"}
        scicloj/metamorph.ml {:mvn/version "0.8.2"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.16"}
        org.scicloj/clay {:mvn/version "2-beta15"}
        }
 :aliases
 {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.3"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}
  :test {
         :extra-paths ["test"]
          :extra-deps {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
          :main-opts ["-m" "cognitect.test-runner"]
          :exec-fn cognitect.test-runner.api/test}
         }}